# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
crowd-funding-common/target
crowd-funding-main/target
crowd-funding-manager-api/target
crowd-funding-bean/target
crowd-funding-manager-impl/target
crowd-funding-portal-impl/target
crowd-funding-portal-api/target
